.container {
  background-image: url("./bg.jpg");
  height: 100vh;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
}
.header2 {
  color: bisque;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.inputNumber {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}

.button1 {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}

.header3 {
  color: aqua;
  text-align: center;
}
.success {
  color: rgb(50, 156, 54);
  text-align: center;
  font-size: large;
  text-transform: uppercase;
}
.fail1 {
  color: rgb(244, 71, 80);
  text-align: center;
  font-size: large;
  text-transform: uppercase;
}
.fail2 {
  color: rgb(174, 82, 177);
  text-align: center;
  font-size: large;
  text-transform: uppercase;
}

.hidden {
  display: none;
}
